* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title {
  text-align: center;
  margin-top: 2rem;
}

.score {
  text-align: center;
  margin-top: 1rem;
}

.tiles {
  padding: 0;
  margin: 0;
}

img {
  height: 100px;
  width: 100px;
  cursor: pointer;
  border-radius: 8px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 350px;
  width: 450px;
  margin: auto;
  position: relative;
  top: 2.5rem;
}

button {
  display: block;
  margin: auto;
  padding: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgb(0, 183, 255);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2rem;
}

.options {
  display: flex;
  justify-content: space-around;
  width: 400px;
  margin: auto;
}

.option-btn {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(0, 183, 255);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1.3rem;
  transition: all ease 0.2s;
}

.option-btn:hover {
  font-weight: bolder;
  background-color: rgb(0, 110, 255);
}

.first-letter {
  position: relative;
  animation: firstmove 3s infinite;
  transition: all ease;
}

@keyframes firstmove {
  0% {
    bottom: 0px;
    color: black;
    font-size: 1.5rem;
  }
  25% {
    bottom: 5px;
    color: rgb(1, 212, 131);
    font-size: 2rem;
  }
  50% {
    bottom: 0px;
    color: black;
    font-size: 1.5rem;
  }
  75% {
    bottom: -5px;
    color: rgb(218, 124, 255);
    font-size: 2rem;
  }
  100% {
    bottom: 0px;
    color: black;
    font-size: 1.5rem;
  }
}

.second-letter {
  position: relative;
  animation: secondmove 3s ease infinite;
}

@keyframes secondmove {
  0% {
    top: 0px;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
  }
  25% {
    top: 5px;
    color: rgb(255, 163, 102);
    font-size: 2rem;
  }
  50% {
    top: 0px;
    color: black;
    font-size: 1.5rem;
  }
  75% {
    top: -5px;
    color: rgb(255, 133, 184);
    font-size: 2rem;
  }
  100% {
    top: 0px;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
  }
}

.modal {
  width: 70%;
  margin: auto;
  position: relative;
  bottom: 18rem;
  background-color: white;
}

.modal-body {
  text-align: center;
}
